version: 2
updates:
  - package-ecosystem: "mix"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

    # Optional but recommended:
    rebase-strategy: "auto"
    labels:
      - "dependencies"
      - "elixir"
    reviewers:
      - "tgrk"

